{% extends 'tienda/base.html' %}

{% block contenido %}
<div class="container mt-4 text-center">
    <div class="alert alert-danger shadow-sm d-inline-block p-5">
        <h3 class="text-danger"> ¿Estas seguro?</h3>
        <p>Vas a eliminar el producto: <strong>{{ object.nombre }}</strong></p>
        <p class="text-muted">Esta accion no se puede deshacer.</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Si, eliminar</button>
            <a href="{% url 'listado' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}