
{% extends 'tienda/base.html' %}

{% block contenido %}
<div class="container mt-4">
    <h2>{% if form.instance.pk %}Editar Producto{% else %}Nuevo Producto{% endif %}</h2>
    
    <div class="card p-4 shadow-sm">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'listado' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}